:root {
  /* FONTS */

  /* FONT WEIGHT */
  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 600;

  /* FONT FAMILY */
  --ff-headings: popins, Arial, Helvetica, sans-serif;
  --ff-body: inter, Arial, Helvetica, sans-serif;

  /* FONT SIZE */
  --fs-root: 16px;

  --fs-body-xs: 0.75rem;
  --fs-body-s: 0.875rem;
  --fs-body-m: 1rem;
  --fs-body-lg: 1.25rem;

  --fs-h1: 2.5rem;
  --fs-h2: 2rem;
  --fs-h3: 1.5rem;
  --fs-h4: 1.375rem;

  /* LINE HEIGHT */
  --lh-headings: 1.2;
  --lh-body: 1.5;

  /* Paragraph Spacing */
  --ps: 1em;

  /* Page Padding */
  --page-pad-s: 1.5rem;
  --page-pad-m: 2.5rem;
  --page-pad-l: 4rem;

  /* Librarires */
  --fa-bounce-start-scale-x: 1;
  --fa-bounce-start-scale-y: 1;
  --fa-bounce-jump-scale-x: 1;
  --fa-bounce-jump-scale-y: 1;
  --fa-bounce-land-scale-x: 1;
  --fa-bounce-land-scale-y: 1;
  --fa-bounce-rebound: 0;
  --fa-bounce-height: 3px;
}

:root.light {
  /* SURFACE */
  --surface: #f8f7f6;
  --on-surface: #0e1318;
  --on-surface-variant: #575a5e;
  --surface-low: #fff;
  --surface-high: #f0edea;
  --surface-highest: #e5e0db;

  /* PRIMARY | SECONDARY | TERTIARY */
  --primary: #cc5200;
  --on-primary: #fff;
  --secondary: #0072bf;
  --on-secondary: #fff;
  --tertiary: #000;
  --on-tertiary: #fff;

  /* CONTAINER ALTERNATIVES */
  --primary-container: #ffdbc3;
  --on-primary-container: #a64300;
  --secondary-container: #afdfff;
  --on-secondary-container: #00558f;
  --tertiary-container: #000;
  --on-tertiary-container: #fff;

  /* INVERSE */
  --inverse-surface: #0e0c0b;
  --inverse-on-surface: #f8f7f6;
  --inverse-primary: #ffdbc3;

  /* OUTLINE */
  --outline: #252628;
  --outline-varient: #d7d9da;

  /* OTHER */

  /*-- ERROR  */
  --error: #ff0018;
  --on-error: #fff;
  --error-container: #f4a4ab;
  --on-error-container: #73000a;
}

:root.dark {
  /* SURFACE */
  --surface: #0e0c0b;
  --on-surface: #f8f7f6;
  --on-surface-variant: #b2b2b2;
  --surface-low: #000;
  --surface-high: #2b2521;

  /* PRIMARY | SECONDARY | TERTIARY */
  --primary: #ff6700;
  --on-primary: #000;
  --secondary: #0098ff;
  --on-secondary: #000;
  --tertiary: #fff;
  --on-tertiary: #000;

  /* CONTAINER ALTERNATIVES */
  --primary-container: #5d2500;
  --on-primary-container: #ffaa70;
  --secondary-container: #00406b;
  --on-secondary-container: #70c5ff;
  --tertiary-container: #000;
  --on-tertiary-container: #fff;

  /* INVERSE */
  --inverse-surface: #f8f7f6;
  --inverse-on-surface: #0e1318;
  --inverse-primary: #5d2500;

  /* OUTLINE */
  --outline: #e6e6e6;
  --outline-varient: #2b2b2b;

  /* OTHER */

  /*-- ERROR  */
  --error: #ff0018;
  --on-error: #000;
  --error-container: #560007;
  --on-error-container: #f86976;
}

// BREAKPOINTS
$mobile-breakpoint: 512px;
$tablet-breakpoint: 960px;
