@use "./variables" as *;

/* CSS RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  color: unset;
  font-style: initial;
  font: inherit;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button {
  background-color: transparent;
  cursor: pointer;
}
image {
  max-width: 100%;
}

/* CUSTOM CSS */

html {
  font-size: var(--fs-root);
}

body {
  font-weight: var(--fw-regular);
  font-size: var(--fs-body-m);
  font-family: var(--ff-body);
  line-height: var(--lh-body);
  color: var(--on-surface);
}

h1,
h2,
h3,
h4 {
  font-family: var(--ff-headings);
  font-weight: var(--fw-bold);
  line-height: var(--lh-headings);
  margin-bottom: 1rem;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

h4 {
  font-size: var(--fs-h4);
}

p {
  margin-bottom: var(--ps);
}

p:last-child {
  margin-bottom: 0;
}

small {
  color: var(--on-surface-variant);
}

header,
footer {
  background-color: var(--surface-high);
}

header,
footer,
section,
aside,
article {
  padding-block: 1.5rem;
}

footer {
  padding-bottom: 1rem;
}

main {
  background-color: var(--surface);
}

/* UTILITY CLASSES */

.off-screen {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  top: -1px;
  left: -1px;
}

/* MOBILE */
@media screen and (max-width: $mobile-breakpoint) {
  header,
  footer {
    padding-inline: var(--page-pad-s);
  }
  main > section {
    padding-inline: var(--page-pad-s);
  }
}

/* TABLET */
@media screen and (min-width: calc($mobile-breakpoint + 1px)) and (max-width: $tablet-breakpoint) {
  header,
  footer {
    padding-inline: var(--page-pad-m);
  }
  main > section {
    padding-inline: var(--page-pad-m);
  }
}

/* DESKTOP */
@media screen and (min-width: calc($tablet-breakpoint + 1px)) {
  header,
  footer {
    padding-inline: var(--page-pad-l);
  }
  main > section {
    padding-inline: var(--page-pad-l);
  }
}
