main {
  display: grid;

  & > section {
    border: 0.0625rem solid var(--outline-varient);
    box-shadow: 0.25rem 0.25rem 0.75rem 0.0625rem rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
  }
}

/* BREAKPOINTS */
/* mobile-breakpoint: 512px; */
/* tablet-breakpoint: 960px; */

/* MOBILE */
@media screen and (max-width: 512px) {
  main {
    row-gap: 4rem;
  }
}

/* TABLET */
@media screen and (min-width: 513px) and (max-width: 960px) {
  main {
    row-gap: 5rem;
  }
}

/* DESKTOP */
@media screen and (min-width: 961px) {
  main {
    row-gap: 6rem;
  }
}
